@import 'variables.scss';

.invite-faculty {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.6rem 2.4rem;
    border: 1px solid $color-grey-4;
    border-radius: $border-radius;
    min-height: 8.2rem;

    .label {
        position: absolute;
        font-weight: 300;
        background-color: #fff;
        padding: 0 0.8rem;
        margin-left: -0.8rem;
        pointer-events: none;

        &.shrink {
            top: 0;
            transform: translateY(-50%);
            font-size: 1.2rem;
            color: $color-primary;
        }
    }

    .faculty-list {
        width: 100%;
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: max-content;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        font-size: 1.6rem;
        margin-right: 1.6rem;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        & > *:not(:last-child) {
            margin-right: 1.2rem;
        }
    }

    .add-button {
        position: relative;
        display: inline-block;

        .faculty-dropdown-content {
            display: none;
            position: absolute;
            top: 4rem;
            height: 15rem;
            width: 20rem;
            right: 0;
            background-color: white;
            list-style-type: none;
            padding: 1rem;
            font-size: 1.4rem;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            overflow-y: scroll;
            text-align: center;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                display: block;
                padding: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: $color-grey-2;
                }
            }
        }

        .btn-add {
            cursor: pointer;
            background-color: $color-primary;
            color: white;
            padding: 1rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.8rem;
            font-weight: 500;
            outline: none;
            border: none;

            &:hover {
                background-color: $color-primary-light;
            }
        }

        &:hover .faculty-dropdown-content {
            display: block;
        }
    }
}
