@import 'variables.scss';

.button {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 2rem 4rem;
    background: linear-gradient(45deg, $color-primary-light, $color-primary);
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: $border-radius;
    transition: all 0.3s ease;
    outline: none;
    transition: all 0.2s ease;
    backface-visibility: hidden;

    &:hover {
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0px);
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    }

    &.rounded {
        border-radius: 100px;
    }

    &.square {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        padding: 1.5rem;
        // padding: 1.6rem 2.4rem;
    }

    // &:active {
    //     outline: none;
    //     border: none;
    //     background-color: $color-primary-light;
    //     margin: 0;

    //     // &:before {
    //     //     top: 0;
    //     //     left: 0;
    //     // }
    // }

    &:disabled {
        background-color: $color-grey-1;
        color: $color-grey-3;

        &::before {
            display: none;
        }

        &:hover {
            cursor: not-allowed;
            margin: 0;
        }
    }
}
