$color-primary: #2c1ee8;
$color-primary-light: #6257fb;

$color-grey-1: #f5f5f5;
$color-grey-2: #e2e2e2;
$color-grey-3: #c9c9c9;
$color-grey-4: #949494;

$color-success: #15ce53;
$color-error: #ff3400;

$color-dark: #000;

$border-radius: 0.5rem;
