@import 'variables.scss';

.login-page {
    background: linear-gradient(white, $color-grey-1);
    height: 100vh;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $color-grey-2;

        &-logo {
            cursor: pointer;
        }
    }

    &__content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background-color: white;
        padding: 4rem 6rem;
        border-radius: 0.8rem;
        margin: 0 auto;
        box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.1);
    }
}
